{% extends 'base.html' %}
{% block title %}
    Cadastrar
{% endblock %}

{% block content %}
    <br></br>
    <div class="container">
    {% if erro == 0 %}
        <div class="alert alert-success" role="alert">
            Seu pedido número {{ pedido }} foi realizado com sucesso! Lanche: {{ lanche }} | Tamanho: {{ tamanho }}
        </div>
    {% elif erro == 1 %}
        <div class="alert alert-danger" role="alert">
            Não foi possivel registrar seu pedido!
        </div>
    {% elif erro == 2 %}
        <div class="alert alert-danger" role="alert">
            Não foi possivel localizar seu pedido!
        </div>
    {% endif %}
        <div style="background-color: white; border-radius: 5px; padding: 20px; color: black; margin-top: 5%;">
            <form method="post" action="/cadastrar">
                <div>
                    <label for="inputLanche3">Lanche</label>
                    <!-- <input type="text" class="form-control" id="inputLanche3" name="lanche"> -->
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect03" name="lanche">
                        <option selected>Escolha</option>
                        <option value="Misto Quente">Misto Quente</option>
                        <option value="X-Burguer">X-Burguer</option>
                        <option value="X-Bacon">X-Bacon</option>
                        <option value="X-Costela">X-Costela</option>
                        <option value="X-Egg">X-Egg</option>
                        <option value="X-Frango">X-Frango</option>
                        <option value="X-Tudo">X-Tudo</option>
                        <option value="X-Salada">X-Salada</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="inputTamanho3" class="">Tamanho</label>
                    <!-- <input type="" class="form-control" id="inputTamanho3" name="tamanho"> -->
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect03" name="tamanho">
                        <option selected>Escolha</option>
                        <option value="Pequeno">Pequeno</option>
                        <option value="Médio">Médio</option>
                        <option value="Grande">Grande</option>
                        </select>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary col-2">Cadastrar Pedido</button>
            </form>
        </div>
    </div>
{% endblock %}